5-iac-intro-m5-outlook-exercise-files/SsoAdfs/MetadataClient/Service References/ServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Identity45" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Identity45" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfViewClaim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewClaim" nillable="true" type="tns:ViewClaim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewClaim" nillable="true" type="tns:ArrayOfViewClaim" />
  <xs:complexType name="ViewClaim">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaimType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Issuer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalIssuer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewClaim" nillable="true" type="tns:ViewClaim" />
</xs:schema>